.product-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  .category-title {
    width: 100%;
    margin: 20px 0px;
    text-align: left;
  }

  .products-preview-list {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 215px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
}
