.title {
  margin: 0px 0px 50px 0px;
}
.products-list {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 215px);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

@media screen and (max-width: 480px) {
  .products-list {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-row-gap: 5px;
    grid-column-gap: 5px;
  }
}
