.cart-item-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 20px 0px 0px 20px;

  .product-image {
    width: 70px;
    height: 100px;
  }

  .product-info {
    flex: 1;
    padding: 0 20px;

    p {
      margin-top: 5px;
    }

    .number-widget {
      display: flex;
      flex-direction: row;

      margin-top: 20px;

      h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;

        border: 1px solid lightgray;
        text-align: center;
        text-align-last: center;
        padding: auto;

        cursor: pointer;

        font-weight: 600;

        user-select: none;

        &:hover {
          background-color: #f6f9fd;
        }
      }

      .quantity-text {
        font-weight: 400;
        border: none;
        margin: 0px 5px;
      }

      .space {
        flex: 1;
      }
    }
  }

  .remove-button {
    height: 30px;
    background-color: white;
    color: #ff7979;
    border: 1px solid #ff7979;

    &:hover {
      background-color: #ffeded;
    }
  }
}
